*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/sonarlint/issuestore/2/a/2a45a911a8f1836b0b6c5b758962572012d8f8c3
/.idea/sonarlint/issuestore/2/a/2afbb999f001938c88fa43fc2ef52abf0f8213e4
/.idea/sonarlint/issuestore/2/e/2e84aeb3d0c4397a63b48a60544082a1bfff82fb
/.idea/sonarlint/issuestore/4/e/4e4698b60497e2d5957290934a250ef9e5e5fd78
/.idea/sonarlint/issuestore/5/b/5bbfa66edb4db3c7c33c5181f43510990d3307f9
/.idea/sonarlint/issuestore/6/a/6a180a36cf88868675d7b0e26823caba6c6b0920
/.idea/sonarlint/issuestore/6/d/6d2e753c403a7afa37baa2167a23889506ff70c9
/.idea/sonarlint/issuestore/8/e/8e5fa92e1b10b6449e9d04c0f235eb2bc1666908
/.idea/sonarlint/issuestore/1/8/18fdf7a025ddfc173c17deb2dfc9bc91ed70907b
/.idea/sonarlint/issuestore/4/3/43f8153ec9a9643e8db553c08510dbea45ff751e
/.idea/sonarlint/issuestore/8/0/80bd56cbd9d503c73a925ed2bfbf9ec11d95f68a
/.idea/sonarlint/issuestore/2/8/285d2ad184ee7452ba7b28ba3225b46785df3583
/.idea/sonarlint/issuestore/7/4/749edfcc96398253e5b3416184e95c46621da850
/.idea/sonarlint/issuestore/7/6/7667e0fd43771ff175aebdef5c0fa968a355ab7e
/.idea/sonarlint/issuestore/1/9/193147617c66fc5fe4633c15342fe06dc5a2301e
/.idea/sonarlint/issuestore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
/.idea/sonarlint/issuestore/a/2/a2687360694d0404c30701772c39850ec4aba964
/.idea/sonarlint/issuestore/a/a/aa7be6b5c54e846e2f8f5c28fb6b9d887b109011
/.idea/sonarlint/issuestore/a/b/ab8de1bfc71b8f37aaf25f722bf739aa20c48601
/shared/src/commonMain/sqldelight/com.remote_first.shared.cache/AppDatabase.sq
/.idea/sonarlint/issuestore/c/1/c1c7650bd9eb9af24e8fcdf89c11595d6859892d
/.idea/sonarlint/issuestore/c/8/c8fda7b03c7956918046fc8e2d4982648614faf8
/.idea/sonarlint/issuestore/c/7/c75a46202110405791c74357375762fb05087d5b
/.idea/sonarlint/issuestore/c/a/ca9567776a15a87574703ceb1a887fbfca715cd9
/shared/build/tmp/kotlinMetadata/commonMain/implementation/com.github.aakira-napier-metadata/com.github.aakira-napier-metadata-commonMain.klib
/shared/build/tmp/kotlinMetadata/commonMain/implementation/com.github.aakira-napier-metadata/com.github.aakira-napier-metadata-iosMain.klib
/.idea/sonarlint/issuestore/d/b/dbcff70658daf80b53ce624f6adcaa529df5ed8d
/.idea/sonarlint/issuestore/d/d/dddc60347b7c9dc53451b0d2d88ef74239afaec6
/.idea/sonarlint/issuestore/e/2/e2ac68471cfbcc7086201405abec7abf98d36e33
/.idea/sonarlint/issuestore/e/2/e2214f06c5553870d34a709ef3584b14f3b5f644
/.idea/sonarlint/issuestore/e/c/ecded4bf2fcd5f60da75e1c5cfa1bbccf714e2c1
/.idea/sonarlint/issuestore/e/d/edef940a32158aaa6ca3a60bfb4dd1ac62d799d0
/.idea/sonarlint/issuestore/f/4/f4382be7d69622dea4f7102366feefcbc767368f
/.idea/sonarlint/issuestore/f/b/fbe448ebfc3eb2d4e308f6b8b043666f5b57235e
/.idea/sonarlint/issuestore/index.pb
/shared/build/tmp/kotlinMetadata/commonMain/api/io.ktor-ktor-client-core-metadata/io.ktor-ktor-client-core-metadata-commonMain.klib
/shared/build/tmp/kotlinMetadata/commonMain/implementation/io.ktor-ktor-client-core-metadata/io.ktor-ktor-client-core-metadata-commonMain.klib
/shared/build/tmp/kotlinMetadata/iosTest/implementation/io.ktor-ktor-client-core-metadata/io.ktor-ktor-client-core-metadata-commonMain.klib
/shared/build/tmp/kotlinMetadata/commonTest/api/io.ktor-ktor-client-core-metadata/io.ktor-ktor-client-core-metadata-posixMain.klib
/shared/build/tmp/kotlinMetadata/iosMain/api/io.ktor-ktor-client-core-metadata/io.ktor-ktor-client-core-metadata-posixMain.klib
/shared/build/tmp/kotlinMetadata/iosMain/implementation/io.ktor-ktor-client-core-metadata/io.ktor-ktor-client-core-metadata-posixMain.klib
/shared/build/tmp/kotlinMetadata/iosTest/implementation/io.ktor-ktor-client-core-metadata/io.ktor-ktor-client-core-metadata-posixMain.klib
/shared/build/tmp/kotlinMetadata/iosMain/implementation/io.ktor-ktor-client-ios-metadata/io.ktor-ktor-client-ios-metadata-darwinMain.klib
/shared/build/tmp/kotlinMetadata/iosTest/implementation/io.ktor-ktor-client-ios-metadata/io.ktor-ktor-client-ios-metadata-darwinMain.klib
/shared/build/tmp/kotlinMetadata/commonMain/implementation/io.ktor-ktor-client-json-metadata/io.ktor-ktor-client-json-metadata-commonMain.klib
/shared/build/tmp/kotlinMetadata/commonMain/implementation/io.ktor-ktor-client-logging-metadata/io.ktor-ktor-client-logging-metadata-commonMain.klib
/shared/build/tmp/kotlinMetadata/commonMain/implementation/io.ktor-ktor-client-serialization-metadata/io.ktor-ktor-client-serialization-metadata-commonMain.klib
/shared/build/tmp/kotlinMetadata/commonMain/api/io.ktor-ktor-http-cio-metadata/io.ktor-ktor-http-cio-metadata-commonMain.klib
/shared/build/tmp/kotlinMetadata/commonMain/implementation/io.ktor-ktor-http-cio-metadata/io.ktor-ktor-http-cio-metadata-commonMain.klib
/shared/build/tmp/kotlinMetadata/iosTest/implementation/io.ktor-ktor-http-cio-metadata/io.ktor-ktor-http-cio-metadata-commonMain.klib
/shared/build/tmp/kotlinMetadata/commonTest/api/io.ktor-ktor-http-cio-metadata/io.ktor-ktor-http-cio-metadata-posixMain.klib
/shared/build/tmp/kotlinMetadata/iosMain/api/io.ktor-ktor-http-cio-metadata/io.ktor-ktor-http-cio-metadata-posixMain.klib
/shared/build/tmp/kotlinMetadata/iosMain/implementation/io.ktor-ktor-http-cio-metadata/io.ktor-ktor-http-cio-metadata-posixMain.klib
/shared/build/tmp/kotlinMetadata/iosTest/implementation/io.ktor-ktor-http-cio-metadata/io.ktor-ktor-http-cio-metadata-posixMain.klib
/shared/build/tmp/kotlinMetadata/commonMain/api/io.ktor-ktor-http-metadata/io.ktor-ktor-http-metadata-commonMain.klib
/shared/build/tmp/kotlinMetadata/commonMain/implementation/io.ktor-ktor-http-metadata/io.ktor-ktor-http-metadata-commonMain.klib
/shared/build/tmp/kotlinMetadata/iosTest/implementation/io.ktor-ktor-http-metadata/io.ktor-ktor-http-metadata-commonMain.klib
/shared/build/tmp/kotlinMetadata/commonTest/api/io.ktor-ktor-http-metadata/io.ktor-ktor-http-metadata-posixMain.klib
/shared/build/tmp/kotlinMetadata/iosMain/api/io.ktor-ktor-http-metadata/io.ktor-ktor-http-metadata-posixMain.klib
/shared/build/tmp/kotlinMetadata/iosMain/implementation/io.ktor-ktor-http-metadata/io.ktor-ktor-http-metadata-posixMain.klib
/shared/build/tmp/kotlinMetadata/iosTest/implementation/io.ktor-ktor-http-metadata/io.ktor-ktor-http-metadata-posixMain.klib
/shared/build/tmp/kotlinMetadata/commonTest/api/io.ktor-ktor-io-metadata/io.ktor-ktor-io-metadata-bitsMain.klib
/shared/build/tmp/kotlinMetadata/iosMain/api/io.ktor-ktor-io-metadata/io.ktor-ktor-io-metadata-bitsMain.klib
/shared/build/tmp/kotlinMetadata/iosMain/implementation/io.ktor-ktor-io-metadata/io.ktor-ktor-io-metadata-bitsMain.klib
/shared/build/tmp/kotlinMetadata/iosTest/implementation/io.ktor-ktor-io-metadata/io.ktor-ktor-io-metadata-bitsMain.klib
/shared/build/tmp/kotlinMetadata/commonMain/api/io.ktor-ktor-io-metadata/io.ktor-ktor-io-metadata-commonMain.klib
/shared/build/tmp/kotlinMetadata/commonMain/implementation/io.ktor-ktor-io-metadata/io.ktor-ktor-io-metadata-commonMain.klib
/shared/build/tmp/kotlinMetadata/iosTest/implementation/io.ktor-ktor-io-metadata/io.ktor-ktor-io-metadata-commonMain.klib
/shared/build/tmp/kotlinMetadata/commonTest/api/io.ktor-ktor-io-metadata/io.ktor-ktor-io-metadata-posixMain.klib
/shared/build/tmp/kotlinMetadata/iosMain/api/io.ktor-ktor-io-metadata/io.ktor-ktor-io-metadata-posixMain.klib
/shared/build/tmp/kotlinMetadata/iosMain/implementation/io.ktor-ktor-io-metadata/io.ktor-ktor-io-metadata-posixMain.klib
/shared/build/tmp/kotlinMetadata/iosTest/implementation/io.ktor-ktor-io-metadata/io.ktor-ktor-io-metadata-posixMain.klib
/shared/build/tmp/kotlinMetadata/commonTest/api/io.ktor-ktor-io-metadata/io.ktor-ktor-io-metadata-socketsMain.klib
/shared/build/tmp/kotlinMetadata/iosMain/api/io.ktor-ktor-io-metadata/io.ktor-ktor-io-metadata-socketsMain.klib
/shared/build/tmp/kotlinMetadata/iosMain/implementation/io.ktor-ktor-io-metadata/io.ktor-ktor-io-metadata-socketsMain.klib
/shared/build/tmp/kotlinMetadata/iosTest/implementation/io.ktor-ktor-io-metadata/io.ktor-ktor-io-metadata-socketsMain.klib
/shared/build/tmp/kotlinMetadata/commonMain/api/io.ktor-ktor-utils-metadata/io.ktor-ktor-utils-metadata-commonMain.klib
/shared/build/tmp/kotlinMetadata/commonMain/implementation/io.ktor-ktor-utils-metadata/io.ktor-ktor-utils-metadata-commonMain.klib
/shared/build/tmp/kotlinMetadata/iosTest/implementation/io.ktor-ktor-utils-metadata/io.ktor-ktor-utils-metadata-commonMain.klib
/shared/build/tmp/kotlinMetadata/commonTest/api/io.ktor-ktor-utils-metadata/io.ktor-ktor-utils-metadata-posixMain.klib
/shared/build/tmp/kotlinMetadata/iosMain/api/io.ktor-ktor-utils-metadata/io.ktor-ktor-utils-metadata-posixMain.klib
/shared/build/tmp/kotlinMetadata/iosMain/implementation/io.ktor-ktor-utils-metadata/io.ktor-ktor-utils-metadata-posixMain.klib
/shared/build/tmp/kotlinMetadata/iosTest/implementation/io.ktor-ktor-utils-metadata/io.ktor-ktor-utils-metadata-posixMain.klib
/shared/build/tmp/kotlinMetadata/commonTest/api/io.ktor-ktor-utils-metadata/io.ktor-ktor-utils-metadata-utilsInterop.klib
/shared/build/tmp/kotlinMetadata/iosMain/api/io.ktor-ktor-utils-metadata/io.ktor-ktor-utils-metadata-utilsInterop.klib
/shared/build/tmp/kotlinMetadata/iosMain/implementation/io.ktor-ktor-utils-metadata/io.ktor-ktor-utils-metadata-utilsInterop.klib
/shared/build/tmp/kotlinMetadata/iosTest/implementation/io.ktor-ktor-utils-metadata/io.ktor-ktor-utils-metadata-utilsInterop.klib
/shared/build/tmp/kotlinMetadata/commonTest/api/org.jetbrains.kotlinx-atomicfu-common/org.jetbrains.kotlinx-atomicfu-common-commonMain.klib
/shared/build/tmp/kotlinMetadata/iosMain/api/org.jetbrains.kotlinx-atomicfu-common/org.jetbrains.kotlinx-atomicfu-common-commonMain.klib
/shared/build/tmp/kotlinMetadata/iosMain/implementation/org.jetbrains.kotlinx-atomicfu-common/org.jetbrains.kotlinx-atomicfu-common-commonMain.klib
/shared/build/tmp/kotlinMetadata/iosTest/implementation/org.jetbrains.kotlinx-atomicfu-common/org.jetbrains.kotlinx-atomicfu-common-commonMain.klib
/shared/build/tmp/kotlinMetadata/commonTest/api/org.jetbrains.kotlinx-atomicfu-common/org.jetbrains.kotlinx-atomicfu-common-nativeInterop.klib
/shared/build/tmp/kotlinMetadata/iosMain/api/org.jetbrains.kotlinx-atomicfu-common/org.jetbrains.kotlinx-atomicfu-common-nativeInterop.klib
/shared/build/tmp/kotlinMetadata/iosMain/implementation/org.jetbrains.kotlinx-atomicfu-common/org.jetbrains.kotlinx-atomicfu-common-nativeInterop.klib
/shared/build/tmp/kotlinMetadata/iosTest/implementation/org.jetbrains.kotlinx-atomicfu-common/org.jetbrains.kotlinx-atomicfu-common-nativeInterop.klib
/shared/build/tmp/kotlinMetadata/commonTest/api/org.jetbrains.kotlinx-atomicfu-common/org.jetbrains.kotlinx-atomicfu-common-nativeMain.klib
/shared/build/tmp/kotlinMetadata/iosMain/api/org.jetbrains.kotlinx-atomicfu-common/org.jetbrains.kotlinx-atomicfu-common-nativeMain.klib
/shared/build/tmp/kotlinMetadata/iosMain/implementation/org.jetbrains.kotlinx-atomicfu-common/org.jetbrains.kotlinx-atomicfu-common-nativeMain.klib
/shared/build/tmp/kotlinMetadata/iosTest/implementation/org.jetbrains.kotlinx-atomicfu-common/org.jetbrains.kotlinx-atomicfu-common-nativeMain.klib
/shared/build/tmp/kotlinMetadata/commonMain/api/org.jetbrains.kotlinx-kotlinx-coroutines-core-metadata/org.jetbrains.kotlinx-kotlinx-coroutines-core-metadata-commonMain.klib
/shared/build/tmp/kotlinMetadata/commonMain/implementation/org.jetbrains.kotlinx-kotlinx-coroutines-core-metadata/org.jetbrains.kotlinx-kotlinx-coroutines-core-metadata-commonMain.klib
/shared/build/tmp/kotlinMetadata/iosTest/implementation/org.jetbrains.kotlinx-kotlinx-coroutines-core-metadata/org.jetbrains.kotlinx-kotlinx-coroutines-core-metadata-commonMain.klib
/shared/build/tmp/kotlinMetadata/iosTest/implementation/org.jetbrains.kotlinx-kotlinx-coroutines-core-metadata/org.jetbrains.kotlinx-kotlinx-coroutines-core-metadata-concurrentMain.klib
/shared/build/tmp/kotlinMetadata/commonTest/api/org.jetbrains.kotlinx-kotlinx-coroutines-core-metadata/org.jetbrains.kotlinx-kotlinx-coroutines-core-metadata-nativeMain.klib
/shared/build/tmp/kotlinMetadata/iosMain/api/org.jetbrains.kotlinx-kotlinx-coroutines-core-metadata/org.jetbrains.kotlinx-kotlinx-coroutines-core-metadata-nativeMain.klib
/shared/build/tmp/kotlinMetadata/iosMain/implementation/org.jetbrains.kotlinx-kotlinx-coroutines-core-metadata/org.jetbrains.kotlinx-kotlinx-coroutines-core-metadata-nativeMain.klib
/shared/build/tmp/kotlinMetadata/iosTest/implementation/org.jetbrains.kotlinx-kotlinx-coroutines-core-metadata/org.jetbrains.kotlinx-kotlinx-coroutines-core-metadata-nativeMain.klib
/shared/build/tmp/kotlinMetadata/commonMain/implementation/org.jetbrains.kotlinx-kotlinx-serialization-core-metadata/org.jetbrains.kotlinx-kotlinx-serialization-core-metadata-commonMain.klib
/shared/build/tmp/kotlinMetadata/commonMain/implementation/org.jetbrains.kotlinx-kotlinx-serialization-json-metadata/org.jetbrains.kotlinx-kotlinx-serialization-json-metadata-commonMain.klib
